body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    /* bodyに各値を設定して、ページ全体を固定する。 */
}

.coachtech {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    color: #3148cd;
    background-color: white;
    z-index: 10;
    /* ヘッダー固定するためにposition: fixed;を設定 */
}

.coachtech__logo {
    font-size: 30px;
    margin: 10px;
}

ul {
    display: flex;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.coachtech__link--botan1 {
    margin-right: 20px;
    margin-top: 15px;
}

.coachtech__link--botan2 {
    margin-right: 20px;
    margin-top: 15px;
}

.coachtech__link--botan3 {
    margin-right: 20px;
    margin-top: 15px;
}

.coachtech__link--botan4 {
    margin-right: 30px;
    margin-top: 15px;
}

.smail {
z-index: 0;
}

.smail__title {
    font-size: 70px;
    font-weight: lighter;
    margin-top: 550px;
}

.smail__box {
    display: flex;
}

.smail__box--box1 {
    height: 200px;
    width: 70%;
    background: #1c22e1;
}

.smail__box--box2 {
    position: relative;
    height: 200px;
    width: 30%;
}

.smail__box--img {
    position: absolute;
    width: 800px;
    height: 550px;
    bottom: 50%;
    right: 0%;
}